{% extends 'article_base.html' %}

{% block article %}
        <script type="text/javascript">
            function showReply(id){
                forms = document.getElementsByClassName("comment_reply");
                for (i = 0;i < forms.length ; i ++ )
                    forms[i].style.display = 'none'
                document.getElementById("reply" + id).style.display = 'inline';
            }

        $(document).ready(function(){

            $("#like_heart").on("click", function(){
                  $.ajax({
                           type: "POST",
                           url: "/like_article/",
                           data: {'article_id': $(this).attr('name'), csrfmiddlewaretoken:'{{csrf_token}}'},
                           dataType: "text",
                           success: function(data) {
                                  $('#like_count').text(data);
                                  $('#like_heart').attr("src","/media/images/heart_red.png");
                            },
                            error: function(rs, e) {
                                   alert(rs.responseText);
                            }
                      });
                });
            $(".comment_like").on("click", function(){
                  $.ajax({
                           type: "POST",
                           url: "/like_comment/",
                           data: {'comment_id': $(this).attr('name'), csrfmiddlewaretoken:'{{csrf_token}}'},
                           dataType: "json",
                           success: function(data) {
                                  $('#aida').text(data[0]);
                                  $('#comment_likes_' + data[0]).text(data[1]);
                                  $('#comment' + data[0]).attr("src","/media/images/heart_red.png");
                            },
                            error: function(rs, e) {
                                   alert(rs.responseText);
                            }
                      });
                });
            $("#comment-form").on('submit', function(e){
                    e.preventDefault();
                    var data = $(this).serializeArray()
                    data.push({csrfmiddlewaretoken:'{{csrf_token}}' , submit: 'commenting' });
                  $.ajax({
                           type: "POST",
                           url: $(this).attr('action'),
                           data: data,
                           dataType: "json",
                           success: function(data) {
                                    txt = "<form action='.' method='post' class='reply_forming' id='reply-form" + data.id +
                                     "'>{% csrf_token %}<input style='display : none' name='comment' value='" + data.id +
                                     "'/><div style='background-color : #eee; border : 1px black solid;'><div style='border-bottom: 1px gray solid'><p>" +
                                     data.content + "</p><div style='float: left;'><p><b id='comment_likes_{{c.id}}'>" + data.likes +
                                     "</b>{%csrf_token%}<a><img class='comment_like' name='" +  data.id + "' id='comment" + data.id +
                                     "' style='height:20px;' src='/media/images/heart_white.png'></a><input type='button' onclick='showReply(" +
                                     data.id + ")' value='پاسخ'></p></div></div><div>" + data.name + " " + data.time + "</div></div><div id='replys" +
                                     data.id + "'></div><div class='comment_reply' style='background-color: white; display: none;' id='reply" + data.id +
                                     "'><div class='span6'><div class='fg-red' style='diplay: inline;'>نام*</div><div class='input-control text'>" +
                                     "<input type='text' name='name' value='{{user.first_name}} {{user.last_name}}' /></div></div> <div class='span6'>" +
                                     "<div class='fg-red' style='diplay: inline;'>ایمیل*</div><div class='input-control text'><input type='email'" +
                                     "name='email' value='{{user.email}}' /></div><div class='span6'><div class='fg-red' style='diplay: inline;'>دیدگاه شما:" +
                                     "</div><div class='input-control text'><textarea style='display: block; width: 100%;'" +
                                     "form='reply-form" + data.id + "' name='content'></textarea> </div>" +
                                     "<input type='submit' class='comment_reply_submit' name='" + data.id + "'></div></div><div></form>";
                                    $('#comment_holder').append(txt);
                            },
                            error: function(rs, e) {
                                   alert(rs.responseText);
                            },
                            crossDomain: false,
                      });
                  return false;
                });
            $(".reply_forming").on('submit', function(e){
                    e.preventDefault();
                    var data = $(this).serializeArray()
                    data.push({csrfmiddlewaretoken:'{{csrf_token}}' });
                  $.ajax({
                           type: "POST",
                           url: $(this).attr('action'),
                           data: data,
                           dataType: "json",
                           success: function(data) {
                                txt = "<div style='border: 1px solid black;'><div>" +data.content +
                                      "</div><label>" + data.name + "</label><label>" + data.email + "</label></div>";
                                $('#replys' + data.comment).append(txt);
                            },
                            error: function(rs, e) {
                                alert(rs.responseText);
                            },
                            crossDomain: false,
                      });
                  return false;
                });
            });
        </script>
<div dir="rtl" style="width: 60%; float: right; background-color : white;">
    <h1 id="aida"></h1>
    <h1>{{article.title}}</h1>
    <b id="like_count">{{ article.likes.all|length }}</b>
    {% if user.is_authenticated%}
        {% if user.profile in article.likes.all %}
        <img src="/media/images/heart_red.png" style="height:20px;">
        {% else %}
        {%csrf_token%}
        <a><img name="{{article.id}}" id="like_heart" style="height:20px;" src="/media/images/heart_white.png"></a>
        {% endif %}
    {% else %}
        <img style="height:20px;" src="/media/images/heart_white.png">
    {% endif %}

    <p>{{article.views.all|length}} مشاهده</p>
    <p>نویسنده:{{article.writer}} تاریخ: {{article.time}}</p>
    <p>
        برچسب ها:

        {% for t in article.tags.all%}
            {{t.name}}
        {% endfor %}
    </p>
    <p><img style="display:inline;" src="{{article.image.url}}">{{article.content}}</p>
</div>
    <div style="clear: both; width: 100%; border: 1px black solid;">
        نظر شما در مورد این مقاله چیست؟
    <div id="comment_holder">
    {% for c in article.comments.all%}
    <form action="." method="post" class="reply_forming" id="reply-form{{c.id}}">
        {% csrf_token %}
        <input style="display : none" name="comment" value="{{c.id}}"/>
        <div style="background-color : #eee; border : 1px black solid;">
        <div style="border-bottom: 1px gray solid">
            <p>{{c.content}}</p>
            <div style="float: left;">
                <p>
                        <b id="comment_likes_{{c.id}}">{{ c.likes.all|length }}</b>
                    {% if user.is_authenticated%}
                        {% if user.profile in c.likes.all %}
                        <img src="/media/images/heart_red.png" style="height:20px;">
                        {% else %}
                        {%csrf_token%}
                        <a><img class="comment_like" name="{{c.id}}" id="comment{{c.id}}" style="height:20px;" src="/media/images/heart_white.png"></a>
                        {% endif %}
                    {% else %}
                        <img style="height:20px;" src="/media/images/heart_white.png">
                    {% endif %}

                    <input type="button" onclick="showReply({{c.id}})" value="پاسخ">
                </p>
            </div>
        </div>
        <div>
            {{c.name}}
            {{c.time}}
        </div>
        </div>
        <div id="replys{{c.id}}">
            {% for i in c.sub_comments.all%}
                <div style="border: 1px solid black;">
                    <div>
                        {{i.content}}
                    </div>
                    <label>{{i.name}}</label>
                    <label>{{i.email}}</label>
                </div>
            {% endfor %}
        </div>



        <div class="comment_reply" style="background-color: white; display: none;" id="reply{{c.id}}">
            <div class="span6">
                <div class="fg-red" style="diplay: inline;">
                    نام*
                </div>
                <div class="input-control text">
                    <input type="text" name="name" value="{{user.first_name}} {{user.last_name}}" />
                </div>
            </div>
            <div class="span6">
                <div class="fg-red" style="diplay: inline;">
ایمیل*
                </div>
                <div class="input-control text">
                    <input type="email" name="email" value="{{user.email}}" />
                </div>
                <div class="span6">
                <div class="fg-red" style="diplay: inline;">
دیدگاه شما:
                </div>
                <div class="input-control text">
                     <textarea style="display: block; width: 100%;" form="reply-form{{c.id}}" name="content"></textarea>
                </div>
                <input type="submit" class="comment_reply_submit" name="{{c.id}}">
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
    </div>
    <form action="." method="post" id="comment-form">
        {% csrf_token %}
        <div style="border: 1px black solid;">
            <p>
                نظر خود را وارد کنید
            </p>
            {{form.errors}}
			<div class="span6">
                <div class="fg-red" style="display: inline;">
                    نام*
                </div>
                <div class="input-control text">
                    <input type="text" name="name" value="{{user.first_name}} {{user.last_name}}" />
                </div>
            </div>
            <div class="span6">
                <div class="fg-red" style="display: inline;">
ایمیل*
                </div>
                <div class="input-control text">
                    <input type="email" name="email" value="{{user.email}}" />
                </div>
                <div class="span6">
                <div class="fg-red" style="display: inline;">
دیدگاه شما:
                </div>
                <div class="input-control text">
                     <textarea style="display: block; width: 100%;" form="comment-form" name="content"></textarea>
                </div>
            </div>
            </div>
            <input type="submit" name="commenting">
        </div>
    </form>
        </div>
</div>
{% endblock%}