{% extends 'base.html' %}

{% block content%}
        <script type="text/javaascript">
            $(function() {
                var instruments = {{category}};
                $( "#saaz" ).autocomplete({
                  source: instruments
                });
              });
        </script>
        <div class="span3" style="width: 25%; float:right;">
			<div class="row bd-white" style="border-width:5px; border:solid; padding:5px;">
				<div class="span12" style="direction:rtl; padding:2px;">
					<h3 class="fg-steel">
						جست و جو
					</h3>
                    <input id="saaz" name="saaz">
                    <button onclick="search()">تایید</button>
					<button class="on-right default bg-hover-blue" style="float:left" onclick="articleSearchByCategory()">بگرد</button>
				</div>
			</div>
        </div>

        <div style="margin: 0px auto; float: right; width: 60%; background-color: white;" dir="rtl">
            {% block article %}
            {% endblock %}
        </div>

{% endblock %}