<!DOCTYPE html>
<html>
    <head>
    {% block title %}
    <title>آی‌ساز</title>
    {% endblock %}
    <link rel="stylesheet" href="/media/css/metro-bootstrap.min.css">
    <script type="text/javascript" src="/media/js/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery-ui.min.js"></script>
 	<script type="text/javascript" src="/media/js/metro.min.js"></script>
 	<link rel="stylesheet" href="/media/css/style.css">
 	<link href="/media/css/iconFont.min.css" rel="stylesheet">
 	<script type="text/javascript"  src="/media/js/script.js"></script>
    <script type="text/javascript"  src="/media/js/jquery.cookie.js"></script>
    <script language="javascript" type="text/javascript">
        function popUp(url) {
            newwindow=window.open(url,'{{title}}','height=400,width=400');
            if (window.focus) {newwindow.focus()}
            return false;
        }
    </script>
    <script type="text/javascript" src="/media/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="/media/js/jquery.imgareaselect.pack.js"></script>
    <link href="/media/css/ImageSelect/imgareaselect-default.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/media/css/token-input.css" />
    <style type="text/css">
    a:hover {
    cursor:pointer;
    }
    </style>
    </head>
    <body class="metro" style="background-color:#efeae3">
    	<header class="bg-dark">
    		<div class="navigation-bar dark">
    			<div class="navigation-bar-content container">
    				<ul class="element-menu place-right" style="width: 100%;">
                        <li style="float: right;">
                        <a class="element place-right" href="/">
    					آی ساز
    					<span class="icon-grid-view on-right"> </span>
    				    </a>
                        </li>
    					<li style="float: right;">
    						<a class="" href="/home">خانه</a>
    					</li>
    					<li style="float: right;">
    						<a class="" href="#">بیابید</a>
    					</li>
    					<li style="float: right;">
    						<a class="" href="/sell">بسپارید</a>
    					</li>
    					<li style="float: right;">
    						<a class="" href="#">فروشگاه</a>
    					</li>
    					<li style="float: right;">
    						<a class="" href="/articles">مقالات</a>
    					</li>
    					<li style="float: right;">
    						<a class="" href="/directories">دایرکتوری</a>
    					</li>
    					<li style="float: right;">
    						<a class="" href="#">درباره ما</a>
    					</li>
    					<li style="float: right;">
    						<a class="" href="#">تماس با ما</a>
    					</li>
                        <li style="float: left;">
                        {% if request.user.is_authenticated %}
                            <a href="/logout">خروج</a>
                        {% else %}
                            <a onclick="popUpLogin()">ورود</a>
                        {% endif%}
                        </li>

    				</ul>
    			</div>
    		</div>
    	</header>
    	<div class="grid fluid" style="margin-bottom: 0;">
    	{% block content%}
    	{% endblock%}
    	<div class="row bg-dark no-margin fg-white text-center" style="height:400px;">
    		<div class="container" style="padding: 10px 0; height:100px;">
    		</div>
    	</div>
    	</div>


<div id="black_cover" style="width: 100%; height: 100%; background-color : white; opacity: 0.4; position: fixed; top:0px; bottom: 0px; display: none;">

</div>
<div id="loginForm" style=" width: 50%; padding:30px ;right:25%; position: fixed; top: 100px; background-color: white; display:none  ">
    <div dir="rtl" align=>
        <input type="button" onclick="display('login')" value="ورود"/>
        <input type="button" onclick="display('register')" value="ثبت نام"/>
            <div id="login" class="row" style="margin: 0px auto; width: 500px; " align="center">

                <form action="" method="post">
                <div style="width: 100%;">
                    <p align="center"> {{error}} </p>
                        <label>شناسه کاربری:(ایمیل)</label>
                                <div class="input-control text">
                                    <input type="text" value="" name="username"/>
                                </div>
                        <label>رمز ورود:</label>
                                <div class="input-control text">
                                    <input type="password" value="" name="password"/>
                                </div>
                    <input type="submit" value="Submit" name="login_form" />
                </div>
                </form>
            </div>
            <div id="register" class="row" style="margin: 0px auto; width: 500px; display: none;" align="center">
                <div style="width: 100%;">
                    <form action="" method="post">
                    <p align="center"> {{error}} </p>
                        <label>نام</label>
                                    <div class="input-control text">
                                        <input type="text" value="" name="first_name"/>
                                    </div>
                        <label>نام خانوادگی:</label>
                                    <div class="input-control text">
                                        <input type="text" value="" name="family_name"/>
                                    </div>
                        <label>ایمیل:</label>
                                <div class="input-control text">
                                    <input type="email" value="" name="email"/>
                                </div>
                        <label>رمز ورود</label>
                                <div class="input-control text">
                                    <input type="password" value="" name="pass1"/>
                                </div>
                        <label>تکرار رمز ورود:</label>
                                <div class="input-control text">
                                    <input type="password" value="" name="pass2"/>
                                </div>
                    <input type="submit" value="Submit" name="reg_form"  />
                    </form>
                </div>
            </div>
    </div>
</div>
    </body>
</html>