{% extends 'base.html' %}

{% block content%}
	<div style="background: url(/media/images/b1.jpg)top left no-repeat; background-size:cover; height:400px;">
		<div class="container place-right" style="padding:80px 200px; direction:rtl;">
			<h1 class="fg-white">آی‌ساز</h1>
			<h2 class="fg-white">
				فروشگاه اینترنتی ساز که در آن احساس راحتی خواهید کرد!!
				<br>
				شعبه دوم ندارد
				<br>
				حتی شعبه سوم هم ندارد
			</h2>
			<a class="place-right button bg-darkRed bg-hover-red fg-white fg-hover-white bd-orange"
			    style="margin-top: 10px;" href="/sell/">
				<h2 style="margin:10px 40px;">
					ثبت آگهی
					<span class="icon-enter on-left"> </span>
				</h2>
			</a>
		</div>
	</div>
	<div class="row" style="direction:rtl;">
		<div class="span10 offset1">
			<table class="table">
				<thead>
					<tr>
						<td>
							
						</td>
						{% for a in ads%}
						<td>
							<div >
								<img style="height:100px; max-width:100px;" src="{{a.image.image.url}}">
								<div>
									{{a.title}}
								</div>
							</div>
						</td>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					<tr>
						
						<td>
							سازنده
						</td>
						{% for a in ads %}
							<td>{{a.instrument.manufacturer}}</td>
						{% endfor %}
					</tr>
                    <tr>
                        <td> قیمت </td>
                        {% for a in ads %}
							<td>{{a.price}}</td>
						{% endfor %}
                    </tr>
                    <tr>
                        <td>سال ساخت</td>
                        {% for a in ads %}
							<td>{{a.instrument.year}}</td>
						{% endfor %}
                    </tr>
                    <tr>
                        <td>مدل</td>
                        {% for a in ads %}
							<td>{{a.instrument.model}}</td>
						{% endfor %}
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
