{% extends 'base.html' %}

{% block content%}
	<div style="background: url(/media/images/b1.jpg)top left no-repeat; background-size:cover; height:400px;">
		<div class="container place-right" style="padding:80px 200px; direction:rtl;">
			<h1 class="fg-white">آی‌ساز</h1>
			<h2 class="fg-white">
				فروشگاه اینترنتی ساز که در آن احساس راحتی خواهید کرد!!
				<br>
				شعبه دوم ندارد
				<br>
				حتی شعبه سوم هم ندارد
			</h2>
			<a class="place-right button bg-darkRed bg-hover-red fg-white fg-hover-white bd-orange"
			    style="margin-top: 10px;" href="/sell/">
				<h2 style="margin:10px 40px;">
					ثبت آگهی
					<span class="icon-enter on-left"> </span>
				</h2>
			</a>
		</div>
	</div>
	<div class="row" style="direction:rtl;">
		<div class="span10 offset1">
			<table class="table">
				<thead>
					<tr>
						<td>
							
						</td>
						<td>
							<div style="height:150px;">
								<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
								<div>
									گیتار الکتریک خفن
								</div>
							</div>
						</td>
						<td>
							<div style="height:150px;">
								<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
								<div>
									گیتار الکتریک خفن
								</div>
							</div>
						</td>
						<td>
							<div style="height:150px;">
								<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
								<div>
									گیتار الکتریک خفن
								</div>
							</div>
						</td>
						<td>
							<div style="height:150px;">
								<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
								<div>
									گیتار الکتریک خفن
								</div>
							</div>
						</td>
						<td>
							<div style="height:150px;">
								<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
								<div>
									گیتار الکتریک خفن
								</div>
							</div>
						</td>
						<td>
							<div style="height:150px;">
								<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
								<div>
									گیتار الکتریک خفن
								</div>
							</div>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							سازنده
						</td>
						<td>
							یحیی
						</td>
						<td>
							دیوید گیلمور
						</td>
						<td>
							رضا قلی میرزا
						</td>
						<td>
							نصیر حقیقی
						</td>
						<td>
							حاج احمد آقا 
						</td>
						<td>
							آقای شجریان 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
