{% extends 'directory_base.html' %}
{% block content %}
          <script>
  $(function() {
    var instruments = [
      "گیتار",
      "پیانو",
      "سه تار",
      "تار",
      "فلوت",
      "نی",
      "آکاردئون",
      "ویولن",
      "کمانچه",
      "باران",
      "تنبک",
    ];
    $( "#saaz" ).autocomplete({
      source: instruments
    });
  });

  function search(){
        value = document.getElemetById('saaz').value;
        window.location.href = '/directories/' + value;
  }
    function search(value){
        window.location.href = value;
    }

  function show(id){
        document.getElementById("masters_serach_options").style.display = 'none';
        document.getElementById("shops_serach_options").style.display = 'none';
        document.getElementById("institutes_serach_options").style.display = 'none';
        document.getElementById("workshops_serach_options").style.display = 'none';
        document.getElementById("manufacturers_serach_options").style.display = 'none';
        document.getElementById("masters_result").style.display = 'none';
        document.getElementById("shops_result").style.display = 'none';
        document.getElementById("workshops_result").style.display = 'none';
        document.getElementById("institutes_result").style.display = 'none';
        document.getElementById("manufacturers_result").style.display = 'none';
        document.getElementById(id + "_serach_options").style.display = 'block';
        document.getElementById(id + "_result").style.display = 'block';

  }
  </script>
    <div dir="rtl" align="right">
        <form>
            ساز:
            <input id="saaz" name="saaz">
            <button onclick="search()">تایید</button>
        </form>
        <div style="clear: both; background-color: white;">
            <div onclick="show(this.id)" id="institutes" class="directories_search" style="float: right; width: 200px; height: 100px; border:1px solid black" align="center">آموزشگاه ها</div>
            <div onclick="show(this.id)" id="manufacturers" class="directories_search" style="float: right; width: 200px; height: 100px; border:1px solid black" align="center">سازنده ها</div>
            <div onclick="show(this.id)" id="workshops" class="directories_search" style="float: right; width: 200px; height: 100px; border:1px solid black" align="center">تعمیرگاه ها</div>
            <div onclick="show(this.id)" id="masters" class="directories_search" style="float: right; width: 200px; height: 100px; border:1px solid black" align="center">استادها</div>
            <div onclick="show(this.id)" id="shops" class="directories_search" style="float: right; width: 200px; height: 100px; border:1px solid black" align="center">فروشگاه ها</div>
        </div>
        <div id="search_result" style="clear: both; background-color: white;">
            <div id="side_bar" style="width: 25%; border: 1px solid black; float: right;">
                <div id="shops_serach_options">
                    <form>
                    <div>
                        <label>نام فروشگاه:</label>
                        <input name="name" onchange="search(value)">
                    </div>
                    <div>
                        <label>مکان:</label>
                        <input type="text" name="location">
                    </div>
                    <label>دسته</label>
                    <select name="cat">
                        <option>سنتی</option>
                        <option>کلاسیک</option>
                    </select>
                    <input type="submit">
                    </form>
                </div>
                <div id="workshops_serach_options" >

                </div>
                <div id="institutes_serach_options">

                </div>
                <div id="manufacturers_serach_options">

                </div>
                <div id="masters_serach_options">

                </div>


            </div>
            <div style="width: 70%; float:right;" id="result">
                    <div id="masters_result">
                        لیست استاد های یافت شده برای ساز {{saaz.name}}
                        {% for m in masters%}
                            <div style="width: 100%; clear:both; background-color: white;">
                                <div style="width: 20%; float: right">
                                    <img src="{{m.image.url}}">
                                </div>
                                <div style="width:80%; float:right; background-color: white;">
                                    <a href="/master/{{m.id}}"><label>{{m.name}}</label></a>
                                    <label>سازهای مربوطه:
                                        {% for i in m.instruments.all%}
                                            {{i.name}},
                                        {% endfor %}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div id="institutes_result">
                        لیست آموزشگاه های یافت شده برای ساز {{saaz.name}}
                        {% for m in institutes%}
                            <div style="width: 100%; clear:both; background-color: white;">
                                <div style="width: 20%; float: right">
                                    <img src="{{m.image.url}}">
                                </div>
                                <div style="width:80%; float:right; background-color: white;">
                                    <a href="/institute/{{m.id}}"><label>{{m.name}}</label></a>
                                    <label>سازهای مربوطه:
                                        {% for i in m.instruments.all%}
                                            {{i.name}},
                                        {% endfor %}
                                    </label>
                                    <label>{{m.resume}}</label>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div id="manufacturers_result">
                        {% for m in manufacturer%}
                        لیست سازنده های یافت شده برای ساز {{saaz.name}}
                            <div style="width: 100%; clear:both; background-color: white;">
                                <div style="width: 20%; float: right">
                                    <img src="{{m.image.url}}">
                                </div>
                                <div style="width:80%; float:right; background-color: white;">
                                    <a href="/manufacturer/{{m.id}}"><label>{{m.name}}</label></a>
                                    <label>سازهای مربوطه:
                                        {{m.instrument}}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div id="shops_result">

                        {% for m in shops%}
                            <div style="width: 100%; clear:both; background-color: white;">
                                <div style="width: 20%; float: right">
                                    <img src="{{m.image.url}}">
                                </div>
                                <div style="width:80%; float:right; background-color: white;">
                                    <a href="/shop/{{m.id}}"><label>{{m.name}}</label></a>
                                    <label>سازهای مربوطه:
                                            {{i.category}}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div id="workshops_result">
                        لیست تعمیرگاه های یافت شده برای ساز {{saaz.name}}
                        {% for m in workshop%}
                            <div style="width: 100%; clear:both; background-color: white;">
                                <div style="width: 20%; float: right">
                                    <img src="{{m.image.url}}">
                                </div>
                                <div style="width:80%; float:right; background-color: white;">
                                    <a href="/workshop/{{m.id}}"><label>{{m.name}}</label></a>
                                    <label>سازهای مربوطه:
                                            {{m.instrument}}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
            </div>
        </div>
    </div>
{% endblock %}