{% extends 'base.html' %}

{% block title %}
<title>صفحه اصلی</title>
{% endblock %}
{% block content %}
        <script type="text/javascript">
            $(function() {
                $( "#saaz" ).autocomplete({
                  source: {{saaz|safe}}
                });
                $( "#manufacturer" ).autocomplete({
                  source: {{manufacturers|safe}}
                });
              });
            $(document).ready(function(){
            $("#home_ostan").change(function(e){
                    e.preventDefault();
                    $.ajax({
                           type: "POST",
                           url: "/get_shahrs/",
                           data: {'ostan': $("#home_ostan option:selected" ).text(), csrfmiddlewaretoken:'{{csrf_token}}'},
                           dataType: "json",
                           success: function(data) {
                                txt = "<option selected disabled>انتخاب شهر</option>" ;
                                $.each(data, function(i, item) {
                                txt += "<option value =" + item + ">" + item + "</option>"
                                });
                                $("#home_shahr").html(txt);
                            },
                            error: function(rs, e) {
                                   alert(rs.responseText);
                            }
                      });
                    return false;
                    });
            $("#home_shahr").change(function(e){
                e.preventDefault();
                $.ajax({
                       type: "POST",
                       url: "/get_mahales/",
                       data: {'shahr': $("#home_shahr option:selected" ).text(), csrfmiddlewaretoken:'{{csrf_token}}'},
                       dataType: "json",
                       success: function(data) {
                            txt = "<option selected disabled>انتخاب محله</option>" ;
                            $.each(data, function(i, item) {
                            txt += "<option value =" + item + ">" + item + "</option>"
                            });
                            $("#home_mahale").html(txt);
                       },
                       error: function(rs, e) {
                              alert(rs.responseText);
                       }
                       });
                return false;
            });
            $("#search_submit").on("click", function(e){
                  e.preventDefault();
                  $.ajax({
                           type: "POST",
                           url: "/home/search/",
                           data: {'ostan': $("#home_ostan option:selected").val(), 'shahr': $("#home_shahr option:selected").val(),
                                'mahale': $("#home_mahale option:selected").val(), 'saaz': $('#saaz').val(),'manufacturer': $('#manufacturer').val(),
                                 'min_price': $('#min_price').val(),'max_price': $('#max_price').val(), csrfmiddlewaretoken:'{{csrf_token}}'},
                           dataType: "json",
                           success: function(data) {
                                     if(data){
                                        len = data.length;
                                        txt = "";
                                        $.each(data, function(i, item) {
                                            txt += "<div class='span4 bg-hover-gray text-center' style= 'background-color: #efeae3; height: 300px;'><a href='/instrument/"
                                             + item.id + "'><img src='" + item.image + "' class='polaroid' style='max-width: 100%;'><div >"
                                             + item.title + "<br>" + item.instrument + "<br>" + item.price+ " تومن</div></a></div>"
                                        });
                                     } else {
                                        txt = "موردی یافت نشد"
                                     }
                                     $('#ad_container').html(txt);
                            },
                            error: function(rs, e) {
                                   alert(rs.responseText);
                            }
                      });
                });
            });
        </script>
	<div style="background: url(/media/images/b1.jpg)top left no-repeat; background-size:cover; height:400px;">
		<div class="container place-right" style="padding:80px 200px; direction:rtl;">
			<h1 class="fg-white">آی‌ساز</h1>
			<h2 class="fg-white">
				فروشگاه اینترنتی ساز که در آن احساس راحتی خواهید کرد!!
				<br>
				شعبه دوم ندارد
				<br>
				حتی شعبه سوم هم ندارد
			</h2>
			<a class="place-right button bg-darkRed bg-hover-red fg-white fg-hover-white bd-orange"
			    style="margin-top: 10px;" href="/sell/">
				<h2 style="margin:10px 40px;">
					ثبت آگهی
					<span class="icon-enter on-left"> </span>
				</h2>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
            {% for i in ad%}
			<div class="span2" style="height:150px; text-align:center;">
				<img style="height:100px; max-width:100%;" src="{{i.image.image.url}}"/>
				<div>
					{{i.instrument.name}}
				</div>
			</div>
			{%endfor%}
		</div>
		<div class="offset1 span1">
			<button class="default">مقایسه</button>
		</div>
	</div>
	<div class="row">
		<div class="span7 offset1">
			<div id="ad_container" class="row">
				{%for i in mainAds%}
                <div class="span4 bg-hover-gray text-center" style= "background-color: #efeae3; height: 300px;">
                    <a href="/instrument/{{i.id}}">
					<img src="{{i.image.image.url}}" class="polaroid" style="max-width: 100%;">
					<div >
						{{i.title}}
						<br>
						{{i.instrument.name}}
						<br>
						{{i.price}} تومن
					</div>
                    </a>
				</div>
				{%endfor%}
			</div>
		</div>
		<div class="span3">
			<div class="row bd-white" style="border-width:5px; border:solid; padding:5px;">
				<div class="span12" style="direction:rtl; padding:2px;">
					<h3 class="fg-steel">
						جست و جو
					</h3>
					<div class="input-control text ">
						<input type="text" placeholder="کلمه کلیدی"/>
					</div>
					<div class="input-control select">
						<select id="selectCat">
							{% for c in cat2%}
								<option value="{{c}}">
									{{c}}
								</option>
							{% endfor %}
						</select>
					</div>
					<button class="on-right default bg-hover-blue" style="float:left" onclick="searchByCategory()">بگرد</button>
				</div>
			</div>
			<div class="row bd-white" style="border-width:5px; border:solid; padding:5px;">

                    {% csrf_token %}
				<div class="span12" style="direction:rtl; padding:2px;">
					<h2 class="fg-steel">
						جست و جو
					</h2>
					<h4 class="fg-steel">
						ساز :
					</h4>
					<div class="input-control select">
						<input id="saaz" name="saaz">
					</div>
					<h4 class="fg-steel">
						سازنده:
					</h4>
					<div class="input-control select">
						<input id="manufacturer" name="manufacturer">
					</div>
					<h4 class="fg-steel">
						مکان
					</h4>
					<div class="input-control select">
						<select id="home_ostan" name="home_ostan"  onclick="setShahr('home_')">
                            <option selected disabled>
                        انتخاب استان
                            </option>
                            {% for i in ostan%}
                            <option value = {{i}} >{{i}}</option>
                            {% endfor %}
						</select>
                        <select id="home_shahr" name="home_shahr" onclick="setMahale('home_')">
                            <option selected disabled value="">
                                انتخاب شهر
                            </option>
						</select>
                        <select id="home_mahale" name="home_mahale">
                            <option selected disabled value="">
                                انتخاب محله
                            </option>
						</select>
					</div>
					<h4 class="fg-steel">
						قیمت
					</h4>
                    <label>از</label>
                    <input type="text" name="min_price">
                    <label>تا</label>
                    <input type="text" name="min_price">
					<div class="slider" data-role="slider" style="direction:ltr;">
					</div>
					<button id="search_submit" type="submit">بگرد</button>
				</div>

			</div>
			<div class="row bd-white" style="border-width:5px; border:solid; padding:5px; text-align:justify; direction:rtl;">
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
			</div>
		</div>
	</div>
	<div class="row bg-steel no-tablet-portrait no-phone padding20">
		<!-- first instrument row-->
		<div class="row">
			<div class="span10 offset1">
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- second instrument row-->
		<div class="row">
			<div class="span10 offset1">
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
