{% extends 'base.html' %}

{% block title %}
<title>صفحه اصلی</title>
{% endblock %}
{% block content %}
	<div style="background: url(/media/images/b1.jpg)top left no-repeat; background-size:cover; height:400px;">
		<div class="container place-right" style="padding:80px 200px; direction:rtl;">
			<h1 class="fg-white">آی‌ساز</h1>
			<h2 class="fg-white">
				فروشگاه اینترنتی ساز که در آن احساس راحتی خواهید کرد!!
				<br>
				شعبه دوم ندارد
				<br>
				حتی شعبه سوم هم ندارد
			</h2>
			<a class="place-right button bg-darkRed bg-hover-red fg-white fg-hover-white bd-orange"
			    style="margin-top: 10px;" href="/sell/">
				<h2 style="margin:10px 40px;">
					ثبت آگهی
					<span class="icon-enter on-left"> </span>
				</h2>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="span10 offset1">
			<div class="span2" style="height:150px; text-align:center;">
				<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
				<div>
					گیتار الکتریک خفن
				</div>
			</div>
			<div class="span2" style="height:150px; text-align:center;">
				<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
				<div>
					گیتار الکتریک خفن
				</div>
			</div>
			<div class="span2" style="height:150px; text-align:center;">
				<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
				<div>
					گیتار الکتریک خفن
				</div>
			</div>
			<div class="span2" style="height:150px; text-align:center;">
				<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
				<div>
					گیتار الکتریک خفن
				</div>
			</div>
			<div class="span2" style="height:150px; text-align:center;">
				<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
				<div>
					گیتار الکتریک خفن
				</div>
			</div>
			<div class="span2" style="height:150px; text-align:center;">
				<img style="height:100px; max-width:100%;" src="/media/images/Guitar1.jpg"/>
				<div>
					گیتار الکتریک خفن
				</div>
			</div>
		</div>
		<div class="offset1 span1">
			<button class="default">مقایسه</button>
		</div>
	</div>
	<div class="row">
		<div class="span7 offset1">
			<div class="row">
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
				<div class="span4 bg-hover-gray text-center" style= "height:500px;background-color: #efeae3;">
					<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:400px; max-width: 100%;">
					<div >
						گیتار الکتریک
						<br>
						خفن
						<br>
						2000 تومن
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="row bd-white" style="border-width:5px; border:solid; padding:5px;">
				<div class="span12" style="direction:rtl; padding:2px;">
					<h3 class="fg-steel">
						جست و جو
					</h3>
					<div class="input-control text ">
						<input type="text" placeholder="کلمه کلیدی"/>
					</div>
					<div class="input-control select">
						<select>
							<option>
								بادی
							</option>
							<option>
								زخمه ای
							</option>
							<option>
								آرشه ای
							</option>
						</select>
					</div>
					<button class="on-right default bg-hover-blue" style="float:left">بگرد</button>
				</div>
			</div>
			<div class="row bd-white" style="border-width:5px; border:solid; padding:5px;">
				<div class="span12" style="direction:rtl; padding:2px;">
					<h2 class="fg-steel">
						جست و جو
					</h2>
					<h4 class="fg-steel">
						دسته
					</h4>
					<div class="input-control select">
						<select>
							<option>
								بادی
							</option>
							<option>
								زخمه ای
							</option>
							<option>
								آرشه ای
							</option>
						</select>
					</div>
					<div class="input-control select">
						<select>
							<option>
								بادی
							</option>
							<option>
								زخمه ای
							</option>
							<option>
								آرشه ای
							</option>
						</select>
					</div>
					<div class="input-control select">
						<select>
							<option>
								بادی
							</option>
							<option>
								زخمه ای
							</option>
							<option>
								آرشه ای
							</option>
						</select>
					</div>
					<h4 class="fg-steel">
						سازنده
					</h4>
					<div class="input-control select">
						<select>
							<option>
								بادی
							</option>
							<option>
								زخمه ای
							</option>
							<option>
								آرشه ای
							</option>
						</select>
					</div>
					<h4 class="fg-steel">
						مکان
					</h4>
					<div class="input-control select">
						<select>
							<option>
								بادی
							</option>
							<option>
								زخمه ای
							</option>
							<option>
								آرشه ای
							</option>
						</select>
					</div>
					<h4 class="fg-steel">
						قیمت
					</h4>
					<div class="slider" data-role="slider" style="direction:ltr;">
					</div>
					<div class="slider" data-role="slider" style="direction:ltr;">
					</div>
					<button class="on-right default bg-hover-blue" style="float:left">بگرد</button>
				</div>
			</div>
			<div class="row bd-white" style="border-width:5px; border:solid; padding:5px; text-align:justify; direction:rtl;">
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
				<p>
				متن بسیار بسیار طولانی راجع به ما و وب سایت و خرید و فروش و از این جور چیزها
				خلاصه اینکه هرچی به ذهن میرسه باید اینجا نوشت
				نه اینکه پرچونگی کنیم ولی باید پر بشه
				آخه من نگفتم طراحی سایتو ندین دست من زشت میشه؟؟
				حالا هی بیاین بگین زشت شد و این چیه، خب همینه دیگه، آخه کدوم برنامه نویسی سلیقه طراحی داره؟
				باید میدادین دست دخترا یه چیزی از توش در بیارن
				نصیر بابا این چه کاری بود آخه؟
				</p>
			</div>
		</div>
	</div>
	<div class="row bg-steel no-tablet-portrait no-phone padding20">
		<!-- first instrument row-->
		<div class="row">
			<div class="span10 offset1">
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- second instrument row-->
		<div class="row">
			<div class="span10 offset1">
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
				<div class="span3 panel fg-white" style="height:200px; direction:rtl;">
					<div class="panel-header bg-lightBlue fg-white">
						سازهای بادی
					</div>
					<div class="panel-content">
						<a class="fg-white">
							نی
						</a>
						<br>
						<a class="fg-white">
							فلوت
						</a>
						<br>
						<a class="fg-white">
							سرنا
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
