{% extends 'base.html'%}

{% block content %}
<div class="row" style="direction:rtl;">
	<button class="small">
	بازگشت به صفحه جست و جو
	</button>
</div>
<div class="row">
	<div class="span11 offset1 bg-blue"> </div>
</div>
<div class="row">
	<div class="span7 offset1">
		<div class="row">
			<div class="carousel span8" data-role="carousel">
                {% for img in ad.0.images.all %}
                <div class="slide">
					<img src="{{img.image.url}}">
				</div>
                {% endfor %}
				<a class="controls left"><i class="icon-arrow-left-3"></i></a>
				<a class="controls right"><i class="icon-arrow-right-3"></i></a>
			</div>
			<div class="span4">
				<div>
					<div class="span6" style="padding-bottom:30px;"><img src="/media/images/Guitar1.jpg" style="height:80px;"></div>
					<div class="span6"style="padding-bottom:30px;"><img src="/media/images/Guitar1.jpg" style="height:80px;"></div>
				</div>
				<div>
					<div class="span6"style="padding-bottom:30px;"><img src="/media/images/Guitar1.jpg" style="height:80px;"></div>
					<div class="span6"style="padding-bottom:30px;"><img src="/media/images/Guitar1.jpg" style="height:80px;"></div>
				</div>
				<div>
					<div class="span6"><img src="/media/images/Guitar1.jpg" style="height:80px;"></div>
					<div class="span6"><img src="/media/images/Guitar1.jpg" style="height:80px;"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12 bg-blue">
			</div>
		</div>
		<div class="row" style="direction:rtl;">
			<div>
				<button class="danger"><i class="icon-heart on-right"></i>افزودن به علاقه مندی ها</button>
			</div>
			<div>
			{{ad.0.details}}
			<br>
			<br>
			<br>
			<br>
			</div>
			<div>
				مکان:
                {{ad.0.location.mahale}}- {{ad.0.location.shahr}}- {{ad.0.location.ostan}}
				اینجا نقشه نشون داده میشه
				<br>
				<br>
				<br>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="panel" style="direction:rtl;">
			<div class="panel-header bg-steel fg-white">
				مشخصات
			</div>
			<div class="panel-content">
				<div>
					<div class="span6">
						{{instrument.manufacturer}}
					</div>
					<div class="span6">
						سازنده: 
					</div>
				</div>
				<div>
					<div class="span6">
						{{instrument.year}} - {{instrument.model}}
					</div>
					<div class="span6">
						مدل: 
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="panel" style="direction:rtl;">
			<div class="panel-header bg-steel fg-white">
				اطلاعات بیشتر
			</div>
			<div class="panel-content">
				<button class="span6 default">تماس با فروشنده</button>
				<button class="span6 default">ایمیل به فروشنده</button>
			</div>
		</div>
	</div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span7 offset1">
		<h3>آگهی های مشابه</h3>
		<div>
			<div class="span4 bg-hover-gray text-center" style= "height:200px;background-color: #efeae3;">
				<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:120px; max-width: 100%;">
				<div >
					گیتار الکتریک
					<br>
					خفن
					<br>
					2000 تومن
				</div>
			</div>
			<div class="span4 bg-hover-gray text-center" style= "height:200px;background-color: #efeae3;">
				<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:120px; max-width: 100%;">
				<div >
					گیتار الکتریک
					<br>
					خفن
					<br>
					2000 تومن
				</div>
			</div>
			<div class="span4 bg-hover-gray text-center" style= "height:200px;background-color: #efeae3;">
				<img src="/media/images/Guitar1.jpg" class="polaroid" style="height:120px; max-width: 100%;">
				<div >
					گیتار الکتریک
					<br>
					خفن
					<br>
					2000 تومن
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
