{% extends 'base.html' %}

{% block content%}
<div class="row">
	<div class="bg-blue span10 offset1">
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> سلام</button>
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> تنظیمات</button>
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> صورت حساب ها</button>
		<button class="large span2 bg-lightBlue bg-hover-lightBlue fg-white"> پیام ها</button>
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> لیستینگ</button>
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white">داشبورد</button>
	</div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		<button class="mini">بازگشت</button>
		<button class="mini">پاک کردن</button>
	</div>
</div>
<div class="row">
	<div class="span10 offset1 bg-blue">
	</div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		<div style="display:block;">
			<div class="span10">نوید اعظمی(navid.azami@gmail.com)</div>
			<div class="span2">فرستنده:</div>
		</div>
		<div style="display:block;">
			<div class="span10">یکشنبه 12 مهر 1388</div>
			<div class="span2">تاریخ:</div>
		</div>
		<div style="display:block;">
			<div class="span10">خرید ساز شما</div>
			<div class="span2">موضوع:</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span10 offset1 bg-blue">
	</div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		با عرض سلام و خسته نباشید
		<br>
		میخواستم ساز شام را بخرم
		<br>
		موفق و پیروز باشید
	</div>
</div>
<div class="row">
	<div class="span10 offset1 bg-blue">
	</div>
</div>
{% endblock %}

