{% extends 'base.html' %}

{% block content%}
<div class="row">
	<div class="bg-blue span10 offset1">
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> سلام</button>
		<a href="/profile/settings"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> تنظیمات</button></a>
		<a href="/profile/invoices"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> صورت حساب ها</button></a>
		<a href="/profile/messages"><button class="large span2 bg-lightBlue bg-hover-lightBlue fg-white"> پیام ها</button></a>
		<a href="/profile/listing"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> لیستینگ</button></a>
		<a href="/profile/"><button class="large span2 bg-blue bg-hover-lightBlue fg-white">داشبورد</button></a>
	</div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		<a href="/profile/messages"><button class="mini">بازگشت</button></a>
		<a href="/delete_offer/{{offer.id}}"><button onclick="" class="mini">پاک کردن</button></a>
	</div>
</div>
<div class="row">
	<div class="span10 offset1 bg-blue">
	</div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		<div style="display:block;">
			<div class="span10">{{offer.sender}} - {{offer.email}}</div>
			<div class="span2">فرستنده:</div>
		</div>
        <div style="display:block;">
			<div class="span10">{{offer.tel}}</div>
			<div class="span2">شماره تماس:</div>
		</div>
		<div style="display:block;">
			<div class="span10">{{offer.time}}</div>
			<div class="span2">تاریخ:</div>
		</div>
		<div style="display:block;">
			<div class="span10">{{offer.ad.title}}</div>
			<div class="span2">موضوع:</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span10 offset1 bg-blue">
	</div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
        {{offer.content}}
	</div>
</div>
<div class="row">
	<div class="span10 offset1 bg-blue">
	</div>
</div>
{% endblock %}

