{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="bg-blue span10 offset1">
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> سلام</button>
		<a href="/profile/settings"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> تنظیمات</button></a>
		<a href="/profile/invoices"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> صورت حساب ها</button></a>
		<a href="/profile/messages"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> پیام ها</button></a>
		<a href="/profile/listing"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> لیستینگ</button></a>
		<a href="/profile/"><button class="large span2 bg-lightBlue bg-hover-lightBlue fg-white">داشبورد</button></a>
	</div>
</div>
<div class="row">
	<div class="span10 offset1" style="direction:rtl;">
		<h3>پیام ها</h3>
		شما
        {{unread|length}} پیام ناخوانده دارید

		<a href="/profile/messages"><button class="bg-blue fg-white">مشاهده پیام ها</button></a>
	</div>
</div>
<div class="row">
	<div class="bg-blue span10 offset1">
	</div>
</div>
<div class="row">
	<div class="span10 offset1" style="direction:rtl;">
		<h3>وضعیت آگهی ها</h3>
		<table class="table">
			<thead>
				<tr>
					<td>نام</td>
					<td>مکان</td>
					<td> </td>
					<td> لیستینگ</td>
					<td>تعداد مشاهدات</td>
					<td>تعداد کلیک از موبایل</td>
					<td>تعداد کلیک از وب سایت</td>
					<td>تعداد ایمیل های فرستاده شده</td>
				</tr>
			</thead>
			<tbody>
            {% for i in ads %}
                {% if i.type == 0%}<!--active  -->
                <tr class="info">
                {% elif i.type == 1 %}<!--deleted  -->
                <tr class="error">
                {% else %}<!--sold  -->
                <tr class="success">
                {% endif %}
					<td>{{i.title}}</td>
					<td>{{i.location.ostan}}،  {{i.location.shahr}}، {{i.location.mahale}}</td>
                    {% if i.type == 0%}
                    <td>زنده!</td>
                    {% elif i.type == 1 %}
                    <td>پاک شده</td>
                    {% else %}
                    <td>فروخته شده</td>
                    {% endif %}
					<td>1</td>
					<td>{{i.view_users.count}}</td>
					<td>13</td>
					<td>14</td>
					<td>120</td>
				</tr>
            {% endfor %}
			</tbody>
			
		</table>
	</div>
</div>
{% endblock %}
