{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="bg-blue span10 offset1">
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> سلام</button>
		<a href="/profile/settings"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> تنظیمات</button></a>
		<a href="/profile/invoices"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> صورت حساب ها</button></a>
		<a href="/profile/messages"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> پیام ها</button></a>
		<a href="/profile/listing"><button class="large span2 bg-lightBlue bg-hover-lightBlue fg-white"> لیستینگ</button></a>
		<a href="/profile/"><button class="large span2 bg-blue bg-hover-lightBlue fg-white">داشبورد</button></a>
	</div>
</div>
<div class="row">
	<div class="bg-blue span10 offset1"> </div>	
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		<h3 style="display:inline;">مدیریت تبلیغات</h3>
		<a href="/sell"><button class="default" style="float:left;">ثبت آگهی جدید</button></a>
	</div>
</div>
<div class="row">
	<div class="bg-blue span10 offset1"> </div>	
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		<div class="span3">
			وضعیت
			<div class="input-control select">
				<select id="cat4" disabled="true">
				</select>
			</div>
		</div>
		<div class="span3">
			دسته
			<div class="input-control select">
				<select id="cat3" onclick="setcat4()" disabled="true">
				</select>
			</div>
		</div>
		<div class="span3">
			دسته
			<div class="input-control select">
				<select id="cat2" onclick="setcat3()" disabled="true">
				</select>
			</div>
		</div>
		<div class="span3">
			دسته
			<div class="input-control select">
				<select id="cat1" onclick="setcat2()">
							<option>
								کلاسیک
							</option>
							<option>
								سنتی
							</option>
						</select>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span10 offset1 bg-blue"> </div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		<table class="table">
			<thead>
				<tr>
					<td> </td>
					<td>وضعیت</td>
					<td>دسته</td>
					<td> </td>
					<td>قیمت</td>
					<td>علاقه مندها</td>
					<td>مشاهدات موبایلی</td>
					<td>مشاهدات وب سایت</td>
					<td>ایمیل های ارسالی</td>
					<td>وضعیت پرداخت</td>
				</tr>
			</thead>
			<tbody>
            {% for i in ads%}
				<tr>
					<td>
						<div class="tile half">
							<img src="{{i.image.image.url}}">
						</div>
					</td>
					<td>
						<button class="default small">برای فروش</button>
					</td>
					<td>
                        {{i.instrument.category.cat1}}>{{i.instrument.category.cat2}}>{{i.instrument.category.cat3}}>{{i.instrument.category.cat4}}
					</td>
					<td>
						<button class="default small">ویرایش</button>
						<button class="default small">نمایش</button>
						<a href="/delete_ad/{{i.id}}"><button class="danger small">حذف</button>
					</td>
					<td>
						{{i.price}}
					</td>
					<td>
						{{i.favorit_users.all|length}}
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
					<td>
						0
					</td>
					<td>
						<div class="fg-green">پرداخت شد</div>
					</td>
				</tr>
            {% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
