{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="bg-blue span10 offset1">
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> سلام</button>
		<a href="/profile/settings"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> تنظیمات</button></a>
		<a href="/profile/invoices"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> صورت حساب ها</button></a>
		<a href="/profile/messages"><button class="large span2 bg-lightBlue bg-hover-lightBlue fg-white"> پیام ها</button></a>
		<a href="/profile/listing"><button class="large span2 bg-blue bg-hover-lightBlue fg-white"> لیستینگ</button></a>
		<a href="/profile/"><button class="large span2 bg-blue bg-hover-lightBlue fg-white">داشبورد</button></a>
	</div>
</div>
<div class="row">
	<div class="span10 bg-blue offset1">
	</div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		<h3>صندوق دریافت</h3>
		<table class="table">
			<thead>
            <tr>
					<td>فرستنده</td>
					<td>موضوع</td>
                    <td>آگهی</td>
                    <td>تاریخ</td>
					<td>خوانده شد؟</td>
					<td> </td>
			</tr>
			</thead>
			<tbody>
            {% for o in offers %}
			    <tr>
					<td>{{o.sender}}</td>
					<td>{{o.ad.title}}</td>
                    <td>{{o.ad.title}}</td>
					<td>{{o.time}}</td>
                    {% if o.read%}
					<td class="fg-green">بله</td>
                    {%else%}
                    <td class="fg-red">خیر</td>
                    {%endif%}
					<td>
						<a href="/profile/show/message/{{o.id}}"><button class="mini default">خواندن</button></a>
						<button class="mini danger">پاک کردن</button>
					</td>
			    </tr>
            {% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="span10 bg-blue offset1">
	</div>
</div>
{% endblock %}
