{% extends 'base.html'%}

{% block content%}
<div class="row">
	<div class="bg-blue span10 offset1">
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> سلام</button>
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> تنظیمات</button>
		<button class="large span2 bg-lightBlue bg-hover-lightBlue fg-white"> صورت حساب ها</button>
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> پیام ها</button>
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white"> لیستینگ</button>
		<button class="large span2 bg-blue bg-hover-lightBlue fg-white">داشبورد</button>
	</div>
</div>
<div class="row">
	<div class="span10 offset1 bg-blue"> </div>
</div>
<div class="row" style="direction:rtl;">
	<div class="span10 offset1">
		<h3>صورت حساب ها</h3>
		فعلا خالی
		<br>
		بعدا پر میشه ولی
	</div>
</div>
<div class="row">
	<div class="span10 offset1 bg-blue"> </div>
</div>
{% endblock%}
