{% extends 'base.html' %}

{% block content %}
	<div style="background: url(/media/images/b1.jpg)top left no-repeat; background-size:cover; height:400px;">
		<div class="container place-right" style="padding:80px 200px; direction:rtl;">
			<h1 class="fg-white">ثبت آگهی</h1>
			<h2 class="fg-white">
				در این صفحه شما میتوانید برای فروش ساز خود آگهی ثبت کنید.
				<br>
				ما از شما پول نمیگیریم
				<br>
				جان من راست میگی؟؟ 
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				اطلاعات کلی
			</div>
			<div class="panel-body" style="direction:rtl;">
				سلام چطوری؟
				<br>
				خوبی؟
				<br>
				اطلاعات بیشتر همینجاست!
				<br>
				کلی اطلاعات بهت میدیم
				<br>
				نیم فاصله ندارم مجبورم اینجوری بنویسم!!
				<br>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				چه سازی رو میخواهید بفروشید؟
			</div>
			<div class="panel-body" style="direction:rtl; padding-top:10px;">
				<div class="span3" id="cat4">
					<nav class="sidebar">
						<ul>
							<li class="title">دسته</li>
							<li class=""><a href="#"><i class="icon-home"></i>سنتی</a></li>
							<li class=""><a href="#"><i class="icon-cog"></i>کلاسیک</a></li>
							<li class=""><a href="#"><i class="icon-tree-view"></i>چرند</a></li>
						</ul>
					</nav>
				</div>
				<div class="span3" id="cat3">
					<nav class="sidebar">
						<ul>
							<li class="title">دسته</li>
							<li class=""><a href="#"><i class="icon-home"></i>سنتی</a></li>
							<li class=""><a href="#"><i class="icon-cog"></i>کلاسیک</a></li>
							<li class=""><a href="#"><i class="icon-tree-view"></i>چرند</a></li>
						</ul>
					</nav>
				</div>
				<div class="span3" id="cat2">
					<nav class="sidebar ">
						<ul>
							<li class="title">دسته</li>
							<li class=""><a href="#"><i class="icon-home"></i>سنتی</a></li>
							<li class=""><a href="#"><i class="icon-cog"></i>کلاسیک</a></li>
							<li class=""><a href="#"><i class="icon-tree-view"></i>چرند</a></li>
						</ul>
					</nav>
				</div>
				<div class="span3" id="cat1"> 
					<nav class="sidebar">
						<ul>
							<li class="title">دسته</li>
							<li class=""><a href="#"><i class="icon-home"></i>سنتی</a></li>
							<li class=""><a href="#"><i class="icon-cog"></i>کلاسیک</a></li>
							<li class=""><a href="#"><i class="icon-tree-view"></i>چرند</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				بیشتر در مورد سازت بگو
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="span12">
					<div class="row">
						<div class="span4">
							<label>سازنده</label>
							<div class="input-control text">
								<input type="text" value=""/>
							</div>
						</div>
						<div class="span4">
							<label>مدل</label>
							<div class="input-control text">
								<input type="text" value=""/>
							</div>
						</div>
						<div class="span4">
							<label>سال</label>
							<div class="input-control select">
								<select>
									<option>1393</option>
									<option>1392</option>
									<option>1391</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span4 offset4">
							<label>مدل</label>
							<div class="input-control text">
								<input type="text" value=""/>
							</div>
						</div>
						<div class="span4">
							<label>قیمت</label>
							<div class="input-control text">
								<input type="text" value=""/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<label>استان</label>
							<div class="input-control select">
								<select>
									<option>تهران</option>
									<option>مازندران</option>
									<option>کرمانشاه</option>
								</select>
							</div>
						</div>
						<div class="span4">
							<label>شهر</label>
							<div class="input-control select">
								<select>
									<option>تهران</option>
									<option>قایم شهر</option>
									<option>کرمانشاه</option>
								</select>
							</div>
						</div>
						<div class="span4">
							<label>محله</label>
							<div class="input-control select">
								<select>
									<option>بهارشیراز</option>
									<option>فولادکلا</option>
									<option>صحنه</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12">
							<label>عنوان</label>
							<div class="input-control text">
								<input type="text" value=""/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12">
							<label>توضیحات</label>
							<div class="input-control textarea">
								<textarea>
									
								</textarea>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				سایر اطلاعات
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="span4">
					<label>
						<div class="">
						سلم
						</div>
						<div class="fg-steel">
							سلام
						</div>
					</label>
					<div class="input-control textarea">
						<textarea> </textarea>
					</div>
				</div>
				<div class="span4">
					<label>
						<div class="">
						سلم
						</div>
						<div class="fg-steel">
							سلام
						</div>
					</label>
					<div class="input-control textarea">
						<textarea> </textarea>
					</div>
				</div>
				<div class="span4">
					<label>
						<div class="">
						سلم
						</div>
						<div class="fg-steel">
							سلام
						</div>
					</label>
					<div class="input-control textarea">
						<textarea> </textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				آپلود نمونه صوتی و عکس
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="span12">
					<div class="row">
						<div class="offset6 span6">
							<label>نمونه صوتی</label>
							<div class="input-control textarea">
								<textarea>
									
								</textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
								تصویر 6
								</div>
							</div>
							<div style="float:left;">
								<button class="button">آپلود</button>
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
								تصویر 5
								</div>
							</div>
							<div style="float:left;">
								<button class="button">آپلود</button>
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
								تصویر 4
								</div>
							</div>
							<div style="float:left;">
								<button class="button">آپلود</button>
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
								تصویر 3
								</div>
							</div>
							<div style="float:left;">
								<button class="button">آپلود</button>
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
								تصویر 2
								</div>
							</div>
							<div style="float:left;">
								<button class="button">آپلود</button>
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
								تصویر اصلی
								</div>
							</div>
							<div style="float:left;">
								<button class="button">آپلود</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				بخش بی نهایت ام
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="input-control checkbox">
					<label>
						<input type="checkbox"/>
						<span class="check"> </span>
						میخواهم شماره تلفنم نمایش داده شود.
					</label>
				</div>
				<br>
				<div class="input-control checkbox" >
					<label>
						<input type="checkbox"/>
						<span class="check"> </span>
						میخواهم ایمیلم نمایش داده شود.
					</label>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
