{% extends 'base.html' %}

{% block content %}
\	<div style="background: url(/media/images/b1.jpg)top left no-repeat; background-size:cover; height:400px;">
		<div class="container place-right" style="padding:80px 200px; direction:rtl;">
			<h1 class="fg-white">ثبت آگهی</h1>
			<h2 class="fg-white">
				در این صفحه شما میتوانید برای فروش ساز خود آگهی ثبت کنید.
				<br>
				ما از شما پول نمیگیریم
				<br>
				جان من راست میگی؟؟ 
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				اطلاعات کلی
			</div>
			<div class="panel-body" style="direction:rtl;">
				سلام چطوری؟
				<br>
				خوبی؟
				<br>
				اطلاعات بیشتر همینجاست!
				<br>
				کلی اطلاعات بهت میدیم
				<br>
				نیم فاصله ندارم مجبورم اینجوری بنویسم!!
				<br>
			</div>
		</div>
	</div>
<form action='.' method="post" enctype="multipart/form-data">
		{% csrf_token %}

	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				چه سازی رو میخواهید بفروشید؟
                {{form.errors}}
			</div>
			<div class="panel-body" style="direction:rtl; padding-top:10px;">

				<div class="span3">
					<nav class="sidebar">
						<ul id="sub4">
							<li class="title">دسته</li>
							<li class="cat4" ><a href="#"><i class="icon-home"></i>سنتی</a></li>
							<li class="cat4"><a href="#"><i class="icon-cog"></i>کلاسیک</a></li>
							<li class="cat4"><a href="#"><i class="icon-tree-view"></i>چرند</a></li>
						</ul>
					</nav>
				</div>
				<div class="span3">

					<nav class="sidebar">
						<ul id="sub3">
							<li class="title">دسته</li>
							<li class="cat3"><a href="#"><i class="icon-home"></i>سنتی</a></li>
							<li class="cat3"><a href="#"><i class="icon-cog"></i>کلاسیک</a></li>
							<li class="cat3"><a href="#"><i class="icon-tree-view"></i>چرند</a></li>
						</ul>
					</nav>
				</div>
				<div class="span3">
					<nav class="sidebar ">
						<ul id="sub2">
							<li class="title">دسته</li>
							<li class="cat2"><a href="#"><i class="icon-home"></i>سنتی</a></li>
							<li class="cat2"><a href="#"><i class="icon-cog"></i>کلاسیک</a></li>
							<li class="cat2"><a href="#"><i class="icon-tree-view"></i>چرند</a></li>
						</ul>
					</nav>
				</div>

				<div class="span3">

					<nav class="sidebar">
						<ul>
							<li class="title">دسته</li>
							<li class=""><a href="#"><i class="icon-home"></i>سنتی</a></li>
							<li class=""><a href="#"><i class="icon-cog"></i>کلاسیک</a></li>
						</ul>
					</nav>
				</div>
                <script type="text/javascript">

                </script>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				بیشتر در مورد سازت بگو
			</div>
           <div class="panel-body" style="direction:rtl;">
				<div class="span12">
					<div class="row">
						<div class="span4">
							<label>سازنده</label>
							<div class="input-control text">
								<input type="text" value="" name="manufacturer"/>
							</div>
						</div>
						<div class="span4">
							<label>مدل</label>
							<div class="input-control text">
								<input type="text" value="" name="model"/>
							</div>
						</div>
						<div class="span4">
							<label>سال</label>
							<div class="input-control select">
								<select name="year" value="year">
                                    {% for x,y in form.fields.year.choices %}
                                    <option value="{{ x }}">{{ y }}</option>
                                    {% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span4 offset4">
							<label>وضعیت</label>
							<div class="input-control select">
								<select name="used" value="used">
                                    {% for x,y in form.fields.used.choices %}
                                    <option value="{{ x }}">{{ y }}</option>
                                    {% endfor %}
                                </select>
							</div>
						</div>
						<div class="span4">
							<label>قیمت</label>
							<div class="input-control text">
								<input type="text" value="" name="price"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<label>محله</label>
							<div class="input-control select">
								<select>
									<option>بهارشیراز</option>
									<option>فولادکلا</option>
									<option>صحنه</option>
								</select>
							</div>
						</div>
						<div class="span4">
							<label>شهر</label>
							<div class="input-control select">
								<select>
									<option>تهران</option>
									<option>قایم شهر</option>
									<option>کرمانشاه</option>
								</select>
							</div>
						</div>
						<div class="span4">
							<label>استان</label>
							<div class="input-control select">
								<select>
									<option>تهران</option>
									<option>مازندران</option>
									<option>کرمانشاه</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12">
							<label>عنوان</label>
							<div class="input-control text">
								<input type="text" value="" name="title"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12">
							<label>توضیحات</label>
							<div class="input-control textarea">
								<textarea name="details">
									
								</textarea>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				سایر اطلاعات
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="span4">
					<label>
						<div class="">
						شرایط استرداد
						</div>
						<div class="fg-steel">
							سلام
						</div>
					</label>
					<div class="input-control textarea">
						<textarea name="returning"> </textarea>
					</div>
				</div>
				<div class="span4">
					<label>
						<div class="">
						روش پرداخت
						</div>
						<div class="fg-steel">
							سلام
						</div>
					</label>
					<div class="input-control textarea">
						<textarea name="purchase"> </textarea>
					</div>
				</div>
				<div class="span4">
					<label>
						<div class="">
						روش ارسال
						</div>
						<div class="fg-steel">
							سلام
						</div>
					</label>
					<div class="input-control textarea">
						<textarea name="transport"> </textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				آپلود نمونه صوتی و عکس
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="span12">
					<div class="row">
						<div class="offset6 span6">
							<label>نمونه صوتی</label>
							<div class="input-control textarea">
                                {{ form.sound.errors }}
                                {{ form.non_field_errors }}
                                {{form.sound}}
							</div>
						</div>
					</div>
                    <script type="text/javascript">


                          function upload_img(input, x) {
                             if (input.files && input.files[0]) {
                                 var reader = new FileReader();
                                 reader.onload = function (e) {
                                    $('#img' + x).attr('src', e.target.result);
                                    $('#span' + x).hide();
                                 }
                                 reader.readAsDataURL(input.files[0]);
                             }
                          }

                    </script>
					<div class="row">
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
                                    <span id="span6">
                                        تصویر 6
                                    </span>

                                <img id="img6" src="#" alt="your image" />
								</div>
							</div>
							<div style="float:left;">
                                <input class="button" size="20" type='file' name="img6" onchange="upload_img(this, 6);" />

							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
                                {{form.img1.errors}}
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
                                    <span id="span5">
								تصویر 5
                                    </span>
                                    <img id="img5" src="#" alt="your image" />
								</div>
							</div>
							<div style="float:left;">
								<input class="button" size="20" type='file' name="img5" onchange="upload_img(this, 5);" />
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
                                    <span id="span4">
								تصویر 4
                                    </span>
                                    <img id="img4" src="#" alt="your image" />
								</div>
							</div>
							<div style="float:left;">
								<input class="button" size="20" type='file' name="img4" onchange="upload_img(this, 4);" />
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
                                    <span id="span3">
								تصویر 3
                                    </span>
                                    <img id="img3" src="#" alt="your image" />
								</div>
							</div>
							<div style="float:left;">
								<input class="button" size="20" name="img3" type='file' onchange="upload_img(this, 3);" />
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
                                    <span id="span2">
								تصویر 2
                                    </span>
                                    <img id="img2" src="#" alt="your image" />
								</div>
							</div>
							<div style="float:left;">
								<input class="button" name="img2" size="20" type='file' onchange="upload_img(this, 2);" />
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="padding-top:40px;">
                                    <span id="span1">
								تصویر اصلی
                                    </span>
                                    <img id="img1" src="#" alt="your image" />
								</div>
							</div>
							<div style="float:left;">
								<input class="button" name="img1" size="20" type='file' onchange="upload_img(this, 1);" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				بخش بی نهایت ام
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="input-control checkbox">
					<label>
						<input type="checkbox"/>
						<span class="check"> </span>
						میخواهم شماره تلفنم نمایش داده شود.
					</label>
				</div>
				<br>
				<div class="input-control checkbox" >
					<label>
						<input type="checkbox"/>
						<span class="check"> </span>
						میخواهم ایمیلم نمایش داده شود.
					</label>
				</div>
			</div>
		</div>
	</div>
    <input type="submit" value="Submit" />
</form>
{% endblock %}
