{% extends 'base.html' %}

{% block content %}
	<div style="background: url(/media/images/b1.jpg)top left no-repeat; background-size:cover; height:400px;">
		<div class="container place-right" style="padding:80px 200px; direction:rtl;">
			<h1 class="fg-white">ثبت آگهی</h1>
			<h2 class="fg-white">
				در این صفحه شما میتوانید برای فروش ساز خود آگهی ثبت کنید.
				<br>
				ما از شما پول نمیگیریم
				<br>
				جان من راست میگی؟؟ 
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				اطلاعات کلی
			</div>
			<div class="panel-body" style="direction:rtl;">
				سلام چطوری؟
				<br>
				خوبی؟
				<br>
				اطلاعات بیشتر همینجاست!
				<br>
				کلی اطلاعات بهت میدیم
				<br>
				نیم فاصله ندارم مجبورم اینجوری بنویسم!!
				<br>
			</div>
		</div>
	</div>
<form action='.' method="post" enctype="multipart/form-data">
		{% csrf_token %}

	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				چه سازی رو میخواهید بفروشید؟
                {{form.errors}}
                {{lform.errors}}
                {{rform.errors}}
			</div>
			<div class="panel-body" style="direction:rtl; padding-top:10px;">
                <input id="saaz" name="saaz">
                <!--
                {{from.}}
				<div class="span3">
					<nav class="sidebar">
						<ul id="sell_sub4">
							<li class="title">دسته</li>
						</ul>
					</nav>
				</div>
				<div class="span3">
					<nav class="sidebar">
						<ul id="sell_sub3">
							<li class="title">دسته</li>
						</ul>
					</nav>
				</div>
				<div class="span3">
					<nav class="sidebar ">
						<ul id="sell_sub2">
							<li class="title">دسته</li>
						</ul>
					</nav>
				</div>

				<div class="span3">
					<nav class="sidebar">
						<ul id="sub1">
							<li class="title">دسته</li>
							<li class=""><a><i class="icon-home"></i>
                                <input type="radio" onclick="setCat2('sell_')" value="سنتی" name="sell_sub1"" > سنتی
                            </a></li>
							<li class=""><a><i class="icon-cog"></i>
                                <input type="radio" onclick="setCat2('sell_')" value="کلاسیک" name="sell_sub1"> کلاسیک
                            </a></li>
						</ul>
					</nav>
				</div>
            -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				بیشتر در مورد سازت بگو
			</div>
           <div class="panel-body" style="direction:rtl;">
				<div class="span12">
					<div class="row">
						<div class="span4">
							<label>سازنده</label>
							<div class="input-control text">
								<input type="text" value="" name="manufacturer"/>
                                <input id="manufacturer" name="manufacturer">
							</div>
						</div>
						<div class="span4">
							<label>مدل</label>
							<div class="input-control text">
								<input type="text" value="" name="model"/>
							</div>
						</div>
						<div class="span4">
							<label>سال</label>
							<div class="input-control select">
								<select name="year" value="year">
                                    {% for x,y in form.fields.year.choices %}
                                    <option value="{{ x }}">{{ y }}</option>
                                    {% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span4 offset4">
							<label>وضعیت</label>
							<div class="input-control select">
								<select name="used">
                                    <option value="True">دست دوم</option>
                                    <option value="False">جدید</option>
                                </select>
							</div>
						</div>
						<div class="span4">
							<label>قیمت</label>
							<div class="input-control text">
								<input type="text" value="" name="price"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<label>محله</label>
							<div class="input-control select">
								<select name="sell_mahale" id="sell_mahale">
                                     <option selected disabled>
                                انتخاب محله
                                    </option>
								</select>
							</div>
						</div>
						<div class="span4">
							<label>شهر</label>
							<div class="input-control select">
								<select name="sell_shahr" id="sell_shahr" >
                                     <option selected disabled>
                                انتخاب شهر
                                    </option>
								</select>
							</div>
						</div>
						<div class="span4">
							<label>استان</label>
							<div class="input-control select">
								<select name="sell_ostan" id="sell_ostan"> <!-- onchange="setShahr('sell_');"> -->
                                     <option selected disabled>
                                انتخاب استان
                                    </option>
                                    {% for i in ostan%}
                                    <option value = {{i}} >{{i}}</option>
                                    {% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12">
							<label>عنوان</label>
							<div class="input-control text">
								<input type="text" value="" name="title"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12">
							<label>توضیحات</label>
							<div class="input-control textarea">
								<textarea name="details">
									
								</textarea>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				سایر اطلاعات
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="span4">
					<label>
						<div class="">
						شرایط استرداد
						</div>
						<div class="fg-steel">
							سلام
						</div>
					</label>
					<div class="input-control textarea">
						<textarea name="returning"> </textarea>
					</div>
				</div>
				<div class="span4">
					<label>
						<div class="">
						روش پرداخت
						</div>
						<div class="fg-steel">
							سلام
						</div>
					</label>
					<div class="input-control textarea">
						<textarea name="purchase"> </textarea>
					</div>
				</div>
				<div class="span4">
					<label>
						<div class="">
						روش ارسال
						</div>
						<div class="fg-steel">
							سلام
						</div>
					</label>
					<div class="input-control textarea">
						<textarea name="transport"> </textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				آپلود نمونه صوتی و عکس
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="span12">
					<div class="row">
						<div class="offset6 span6">
							<label>نمونه صوتی (یکی از فرمت های mp3، wav یا ogg)</label>
							<div class="input-control textarea">
                                {{ form.sound.errors }}
                                {{ form.non_field_errors }}
                                {{form.sound}}
							</div>
						</div>
					</div>
                    <script type="text/javascript">
                            $(document).ready(function () {
                                $("#sell_ostan").change(function(e){
                                        e.preventDefault();
                                        $.ajax({
                                               type: "POST",
                                               url: "/get_shahrs/",
                                               data: {'ostan': $("#sell_ostan option:selected" ).text(), csrfmiddlewaretoken:'{{csrf_token}}'},
                                               dataType: "json",
                                               success: function(data) {
                                                    txt = "<option selected disabled>انتخاب شهر</option>" ;
                                                    $.each(data, function(i, item) {
                                                    txt += "<option value =" + item + ">" + item + "</option>"
                                                    });
                                                    $("#sell_shahr").html(txt);
                                                },
                                                error: function(rs, e) {
                                                       alert(rs.responseText);
                                                }
                                          });
                                      return false;
                                    });
                              $("#sell_shahr").change(function(e){
                                    e.preventDefault();
                                    $.ajax({
                                           type: "POST",
                                           url: "/get_mahales/",
                                           data: {'shahr': $("#sell_shahr option:selected" ).text(), csrfmiddlewaretoken:'{{csrf_token}}'},
                                           dataType: "json",
                                           success: function(data) {
                                                txt = "<option selected disabled>انتخاب محله</option>" ;
                                                $.each(data, function(i, item) {
                                                txt += "<option value =" + item + ">" + item + "</option>"
                                                });
                                                $("#sell_mahale").html(txt);
                                            },
                                            error: function(rs, e) {
                                                   alert(rs.responseText);
                                            }
                                      });
                                  return false;
                                });
                                 $('')
                                    .css({
                                        float: 'left',
                                        position: 'relative',
                                        overflow: 'hidden',
                                        width: '100px',
                                        height: '100px'
                                    })
                                    .insertAfter($('#img1'));

                                $('img#img1').imgAreaSelect({
                                    handles: true,
                                 //   onSelectEnd: someFunction
                                    aspectRatio: "3:4",
                                    imageWidth: 30,
                                    imageHeight: 40,
                                    onSelectEnd: function (img, selection) {
                                    },
                                    onSelectChange : function (img, selection) {
                                        var scaleX = (300 / selection.width) * img.width ;
                                        var scaleY = (400 / selection.height) * img.height;
                                        $('#img1_2').css({
                                        width: Math.round(scaleX) + 'px',
                                        height: Math.round(scaleY) + 'px',
                                        marginLeft: '-' + Math.round(scaleX * selection.x1) + 'px',
                                        marginTop: '-' + Math.round(scaleY * selection.y1) + 'px'
                                    });
                                    }
                                });
                            });
                          $(function() {
                                $( "#saaz" ).autocomplete({
                                  source: {{saaz}}
                                });
                              });
                          function upload_img(input, x) {
                             if (input.files && input.files[0]) {
                                 var reader = new FileReader();
                                 reader.onload = function (e) {
                                    $('#img' + x).attr('src', e.target.result);
                                    $('#img' + x).show();
                                    $('#span' + x).hide();
                                    if( x == 1 )
                                        $('#img1_2').attr('src', e.target.result);
                                 }
                                 reader.readAsDataURL(input.files[0]);
                             }
                          }

                    </script>
                    <div class="row">
                        <div class="span2">
							<div class="tile bg-gray" style="text-align:center; margin: 0px auto; height: 400px; width: 400px ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="">
                                    <span id="span1">
								تصویر اصلی
                                    </span>
                                    <img id="img1" src="#" alt="your image" style="display:hidden; height: 400px" />

								</div>
							</div>
							<div style="float:left; display: ">
								<input class="button" name="img1" size="20" type='file' onchange="upload_img(this, 1);" />
							</div>
						</div>
                    </div>
                    <div id = "imagePreview" style="width: 300px; height: 400px; overflow: hidden; display: none;"><img id="img1_2"  alt="X" src="#" style=" position : relative;"/></div>
					<div class="row">
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="">
                                    <span id="span6">
                                        تصویر 6
                                    </span>

                                <img id="img6" src="#" alt="your image" style="display:hidden;"/>
								</div>
							</div>
							<div style="float:left;">
                                <input class="button" size="20" type='file' name="img6" onchange="upload_img(this, 6);" />

							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
                                {{form.img1.errors}}
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="">
                                    <span id="span5">
								تصویر 5
                                    </span>
                                    <img id="img5" src="#" alt="your image" style="display:hidden;" />
								</div>
							</div>
							<div style="float:left;">
								<input class="button" size="20" type='file' name="img5" onchange="upload_img(this, 5);" />
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="">
                                    <span id="span4">
								تصویر 4
                                    </span>
                                    <img id="img4" src="#" alt="your image" style="display:hidden;" />
								</div>
							</div>
							<div style="float:left;">
								<input class="button" size="20" type='file' name="img4" onchange="upload_img(this, 4);" />
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="">
                                    <span id="span3">
								تصویر 3
                                    </span>
                                    <img id="img3" src="#" alt="your image" style="display:hidden;" />
								</div>
							</div>
							<div style="float:left;">
								<input class="button" size="20" name="img3" type='file' onchange="upload_img(this, 3);" />
							</div>
						</div>
						<div class="span2">
							<div class="tile bg-gray" style="text-align:center; float:right; ">
								<button style="float:right;"><i class="icon-rocket on-right"></i>پاک کردن</button>
								<div style="">
                                    <span id="span2">
								تصویر 2
                                    </span>
                                    <img id="img2" src="#" alt="your image" style="display:hidden;" />
								</div>
							</div>
							<div style="float:left;">
								<input class="button" name="img2" size="20" type='file' onchange="upload_img(this, 2);" />
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel span10 offset1">
			<div class="panel-header bg-steel fg-white" style="direction:rtl;">
				بخش بی نهایت ام
			</div>
			<div class="panel-body" style="direction:rtl;">
				<div class="input-control checkbox">
					<label>
						<input type="checkbox" name="show_tel"/>
						<span class="check"> </span>
						میخواهم شماره تلفنم نمایش داده شود.
					</label>
				</div>
				<br>
				<div class="input-control checkbox" >
					<label>
						<input type="checkbox" name="show_email"/>
						<span class="check"> </span>
						میخواهم ایمیلم نمایش داده شود.
					</label>
				</div>
			</div>
		</div>
	</div>
        {% if request.user.is_authenticated%}
            <input type="submit" value="Submit" name="auth_sub" />
        {% else %}
            <input type="button" value="Submit" onclick="popUpLoginSell()"/>
        {% endif %}


<div id="black_cover_sell" style="width: 100%; height: 100%; background-color : white; opacity: 0.4; position: fixed; top:0px; bottom: 0px; display: none;">

</div>
<div id="loginFormSell" style=" width: 50%; padding:30px ;right:25%; position: fixed; top: 100px; background-color: white; display:none  ">
    <div dir="rtl" align=>
        <input type="button" onclick="display('login')" value="ورود"/>
        <input type="button" onclick="display('register')" value="ثبت نام"/>
            <div id="login" class="row" style="margin: 0px auto; width: 500px; " align="center">
                <div style="width: 100%;">
                    <p align="center"> {{error}} </p>
                        <label>شناسه کاربری:</label>
                                <div class="input-control text">
                                    <input type="text" value="" name="username"/>
                                </div>
                        <label>رمز ورود:</label>
                                <div class="input-control text">
                                    <input type="password" value="" name="password"/>
                                </div>
                    <input type="submit" value="Submit" name="login_sub" />
                </div>
            </div>
            <div id="register" class="row" style="margin: 0px auto; width: 500px; display: none;" align="center">
                <div style="width: 100%;">
                    <p align="center"> {{error}} </p>
                        <label>نام</label>
                                    <div class="input-control text">
                                        <input type="text" value="" name="first_name"/>
                                    </div>
                        <label>نام خانوادگی:</label>
                                    <div class="input-control text">
                                        <input type="text" value="" name="family_name"/>
                                    </div>
                        <label>ایمیل:</label>
                                <div class="input-control text">
                                    <input type="email" value="" name="email"/>
                                </div>
                        <label>رمز ورود</label>
                                <div class="input-control text">
                                    <input type="password" value="" name="pass1"/>
                                </div>
                        <label>تکرار رمز ورود:</label>
                                <div class="input-control text">
                                    <input type="password" value="" name="pass2"/>
                                </div>
                    <input type="submit" value="Submit" name="reg_sub" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

